@import url(./bootstrap-grid.min.css);
@import url(./null.css);
@import url(./root.css);
@import url(../fonts/fonts.css);
@import url(../style/header.css);
@import url(../style/screen1.css);
@import url(../style/navBar.css);
@import url(../style/option.css);
@import url(../style/card.css);
@import url(../style/order-list.css);
@import url(../style/faq.css);
@import url(../style/paym.css);
@import url(../style/footer.css);
@import url(./media.css);

/* ---------------- */

h1 {
    font-family: robotobold;
    font-size: 32px;
    color: var(--colorH1);
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-family: robotobold;
    font-size: 28px;
    color: var(--colorH2);
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-family: robotomedium;
    font-size: 22px;
    color: var(--colorH3);
    text-transform: uppercase;
}

h4 {
    font-family: robotobold;
    font-size: 18px;
    color: var(--colorH4);
    text-transform: uppercase;
}

p.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',  Arial, sans-serif;
    font-size: 18px;
    color: var(--colorText);
}


.card__plank h2, .card__plank h1 {
    background-color: #caddea;
    padding: 20px 55px;
    text-align: center;
    border-radius: 4px;
}

.card__plank {
    filter: drop-shadow(2px 3.5px 7px rgba(155, 182, 190, 0.75));
    margin-bottom: 50px;
}

.card__plank::before{
    content: '';
    width: 0;
	height: 0;
	border-top: 30px solid #caddea; 
	border-right: 30px solid transparent;
    position: relative;
    top: 110px;
}

/* ---------------- */