.acordion-block {
    background-color: #f4f6fa;
    background-image: url(../images/Svg/Bg3.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: cover; */
}


.faq-input {
    width: 0px;
    height: 0px;

    appearance: none;
    -webkit-appearance: none;

    position: absolute;
} 

.faq-text {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 3.5px 7px 0 rgba(167, 192, 200, 0.75);
    background-color: #fff;
    padding: 45px;
    height: 470px;
    margin-bottom: -395px;
}


/*! НЕ ЛЕЗТЬ, ПОЛОМАЕТСЯ */
.faq-input1:checked ~ .faq-text1, .faq-input2:checked ~ .faq-text2,
.faq-input3:checked ~ .faq-text3, .faq-input4:checked ~ .faq-text4, 
.faq-input5:checked ~ .faq-text5, .faq-input6:checked ~ .faq-text6{
    display: flex;
}

/*! НЕ ЛЕЗТЬ, ПОЛОМАЕТСЯ */
/* .faq-input1:checked ~ .faq-title3, 
.faq-input1:checked ~ .faq-title4,
.faq-input1:checked ~ .faq-title5, 
.faq-input1:checked ~ .faq-title6,

.faq-input2:checked ~ .faq-title4, 
.faq-input2:checked ~ .faq-title5,
.faq-input2:checked ~ .faq-title6,

.faq-input3:checked ~ .faq-title5, 
.faq-input3:checked ~ .faq-title6, 

.faq-input4:checked ~ .faq-title6,

.faq-input1:checked ~ .faq-title2, 
.faq-input2:checked ~ .faq-title3, 
.faq-input3:checked ~ .faq-title4, 
.faq-input4:checked ~ .faq-title5,
.faq-input5:checked ~ .faq-title6{
    position: relative;
    top: -395px;
}  */

 
/* {
    position: relative;
    top: -395px;
} */
/*! НЕ ЛЕЗТЬ, ПОЛОМАЕТСЯ*/
.faq-input1:checked ~ .faq-title1 h4, .faq-input2:checked ~ .faq-title2 h4,
.faq-input3:checked ~ .faq-title3 h4, .faq-input4:checked ~ .faq-title4 h4,
.faq-input5:checked ~ .faq-title5 h4, .faq-input6:checked ~ .faq-title6 h4{
    color: #fff;
    font-size: 21px;
} 


.faq-input3:checked ~ .faq-title3 h4, .faq-input4:checked ~ .faq-title4 h4{
    color: #fff;
    font-size: 20px;
} 

.faq-input:checked + .faq-title div{
    background-color: #075da2;
}

/* .faq-title div:hover {
    background-color: #075da2;
} */

/* .faq-title div:hover h4{
    color: #fff;
} */


/* .acordion .item{
    border: 2px solid red;
    padding: 10px;
} */

.faq-input {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.faq-title{
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 3px;
    /* margin-bottom: 13px; */
    /* padding: 13px 0px; */
}

/*! НЕ ЛЕЗТЬ, ПОЛОМАЕТСЯ */
.faq-input1:checked ~ .faq-title1::before,
.faq-input2:checked ~ .faq-title2::before,
.faq-input3:checked ~ .faq-title3::before,
.faq-input4:checked ~ .faq-title4::before,
.faq-input5:checked ~ .faq-title5::before,
.faq-input6:checked ~ .faq-title6::before {
    content: "";
    z-index: 2;
    left: 759px;
    position: absolute;
    width: 0;
	height: 0;
	border-top: 37px solid transparent;
	border-left: 30px solid #075da2;
	border-bottom: 37px solid transparent;
}



/*! НЕ ЛЕЗТЬ, ПОЛОМАЕТСЯ */
.faq-text2 {
    top: calc(-53px + (-22px));
}

.faq-text3 {
    top: calc(-106px + (-44px));
}

.faq-text4 {
    top: calc(-159px + (-66px));
}

.faq-text5 {
    top: calc( -212px + (-88px));
}

.faq-text6 {
    top: calc(-265px + (-110px));
}


.faq-title span {
    font-family: Rajdhani;
    font-size: 59.5px;
    font-weight: bold;
    line-height: 40px;
    color: #caddea;
    margin-right: 20px;
    margin-left: 15px;
}

.faq-title h4 {
    font-family: robotobold;
    font-size: 18px;
    font-weight: 500;
    color: #1b7fd0;
}

.faq-title1 h4 {
   margin-left: 10px;
}

.faq-title span {
    display: block;
}

.faq-title div{
    display: flex;
    align-items: center;
    padding: 17px 0px;
    border-bottom: 1px solid #caddea;
}

.faq-title6 div{
    border-bottom: none;
    margin-bottom: 30px;
}

.faq-title {
    position: relative;
}


.faq-text img {
    width: 120px;
    margin-bottom: 70px;
}

.faq-text .blue-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',  Arial, sans-serif;
    font-size: 18px;
    color: #1b7fd0;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
}

.faq-text:nth-child(2){
   display: flex;
   flex-direction: column;
   justify-content: flex-end; 
}

.acordion-block .order__wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.order__wrap .order::before{
    transition: 200ms all ease-in-out;
    content: '';
    width: 0;
	height: 0;
	border-top: 15px solid #d00; 
	border-right: 20px solid transparent;
    position: absolute;
    left: 0px;
    top: 33px;
    display: inline-block;
} 

.order__wrap .order:hover::before, .order:active::before {
    transition: 200ms all ease-in-out;
    border-top: 15px solid #a40000;
}

@media screen and (max-width:1400px){
    .faq-input1:checked ~ .faq-title1::before,
    .faq-input2:checked ~ .faq-title2::before,
    .faq-input3:checked ~ .faq-title3::before,
    .faq-input4:checked ~ .faq-title4::before,
    .faq-input5:checked ~ .faq-title5::before,
    .faq-input6:checked ~ .faq-title6::before {
    content: "";
    z-index: 2;
    left: 654px;
    top: -1px;
    border-top: 38.5px solid transparent;
	border-left: 30px solid #075da2;
	border-bottom: 38.5px solid transparent;
    }

    .faq-input5:checked ~ .faq-title5::before {
    content: "";
    z-index: 2;
    left: 654px;
    top: -1px;
    border-top: 39px solid transparent;
    border-left: 30px solid #075da2;
    border-bottom: 39px solid transparent;
    }
    
}

@media screen and (max-width: 1200px){
    .faq-input1:checked ~ .faq-title1::before,
    .faq-input2:checked ~ .faq-title2::before,
    .faq-input3:checked ~ .faq-title3::before,
    .faq-input4:checked ~ .faq-title4::before,
    .faq-input5:checked ~ .faq-title5::before,
    .faq-input6:checked ~ .faq-title6::before {
    content: "";
    z-index: 2;
    left: 549px;
    top: -1px;
    border-top: 38.5px solid transparent;
	border-left: 30px solid #075da2;
	border-bottom: 38.5px solid transparent;
}
.faq-input4:checked ~ .faq-title4::before {
    border-top: 48px solid transparent;
	border-left: 30px solid #075da2;
	border-bottom: 48px solid transparent;
}
.faq-input5:checked ~ .faq-title5::before {
    border-top: 39px solid transparent;
	border-left: 30px solid #075da2;
	border-bottom: 39px solid transparent;
}
.faq-input1:checked ~ .faq-title1::before {
    border-top: 39px solid transparent;
	border-left: 30px solid #075da2;
	border-bottom: 39px solid transparent;
}
.faq-text {
    height: 530px;
    margin-bottom: -455px;
    padding: 25px;
}
.acordion {
    padding-bottom: 50px;
}
}

