header .bg-main2 {
    background-color: var(--colorDarkBlue);
    background-image: url(../images/Svg/Bg1.svg);
    padding: 20px;
}

header span, header a{
    transition: 200ms all ease-in-out;
    font-family: robotothin;
    font-size: 20px;
    color: #3f6584;
    font-weight: 100;
}

header a {
    transition: 200ms all ease-in-out;
    color: #caddea;
}

.bg-main2 a:has(img) img{
    width: 35px;
    margin-left: 5px;
}

.bg-main2 .items{
    display: flex;
    justify-content: space-between;
}

.bg-main2 .item1 {
    display: flex;
    justify-content: flex-start;
}

.bg-main2 .item1 .num{
    margin-left: 35px;
}

.bg-main2 .item2 {
    display: flex;
    justify-content: flex-end;
}

.bg-main2 .item2 .login{
    margin-right: 70px;
}


.login::after {
    transition: 200ms all ease-in-out;
    content: '';
    display: inline-block;
    background-image: url(../images/Svg/Login.svg);
    background-repeat: no-repeat;
    width: 45px;
    height: 20px;
    position: relative;
    top: 3px;
    left: 5px;
}

.live__chat::after {
    transition: 200ms all ease-in-out;
    content: '';
    display: inline-block;
    background-image: url(../images/Svg/Chat.svg);
    background-repeat: no-repeat;
    width: 45px;
    height: 20px;
    position: relative;
    top: 3px;
    left: 5px;
}

.login:hover::after {
    transition: 200ms all ease-in-out;
    background-image: url(../images/Svg/Login2.svg);
}

.live__chat:hover::after {
    transition: 200ms all ease-in-out;
    background-image: url(../images/Svg/Chat2.svg);
}

.login:hover, .live__chat:hover {
    transition: 200ms all ease-in-out;
    color: var(--colorBtnTextHover);
}

