nav .bg-main1 {
    background-color: var(--colorLightBlue);
    box-shadow: 2px 3.5px 7px 0 #95aeb6;
    transition: 400ms all ease-in-out;
    z-index: 5;
}

.navbar a{
    font-family: robotoregular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: 400ms all ease-in-out;
}

.navbar li div{
    margin: 12px 29px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar li:hover, .navbar li:active{
    background-color: #caddea;
    box-shadow: 5px 0px 0px 0px #caddea,
            -5px 0px 0px 0px #caddea;
    z-index: 1;
}


.navbar li:hover a, .navbar li:active a {
    transition: 400ms all ease-in-out;
    color: #1b7fd0;
}

.vl {
    transform: rotate(180deg);
    border: 2px solid white;
    border-radius: 2px;
    height: 20px;
    z-index: 0;
}

.header_link  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_link a {
    transition: 200ms all ease-in-out;
    font-family: roboto;
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
}


.header_link a:hover {
    background-color: #caddea;
}
 .menu {
    width: 50px;
}

.menu {
    display: flex;
    align-items: center;
}
 

 /* !---BURGER_MENU--- */

 
 .nav-input {
    width: 0px;
    height: 0px;

    appearance: none;
    -webkit-appearance: none;

    position: absolute;
} 

.nav-text {
    transition: 30ms all ease-in-out;
    position: absolute;
    display: none;
    z-index: 3;
    background-color: #075da2;
    top: 104px;
}

.nav-text li{
    transition: 300ms all ease-in-out;
    font-family: robotobold;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    padding: 0px 40px;
}

.nav-text li:hover{
    color: #075da2;
    background-color: #caddea;
}

.nav-input:checked ~ .nav-text{
    transition: 300ms all ease-in-out;
    animation-name: navmenu;
    animation-duration: 750ms;
    
    display: block;
    box-shadow: 5px 5px 15px rgba(1, 1, 1, 0.6);
}

@keyframes navmenu {
    0%{
        left: -500vh;
    }
    100%{
        left: 0px;
    }
}