nav .bg-main1 {
    background-color: var(--colorLightBlue);
    box-shadow: 2px 3.5px 7px 0 #95aeb6;
    transition: 400ms all ease-in-out;
}

.navbar a{
    font-family: robotoregular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: 400ms all ease-in-out;
}

.navbar li div{
    margin: 12px 29px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar li:hover, .navbar li:active{
    /* transition: 400ms background-color ease-in-out;  */
    background-color: #caddea;
    box-shadow: 5px 0px 0px 0px #caddea,
            -5px 0px 0px 0px #caddea;
    z-index: 1;
}


.navbar li:hover a, .navbar li:active a {
    transition: 400ms all ease-in-out;
    color: #1b7fd0;
}

.vl {
    transform: rotate(180deg);
    border: 2px solid white;
    border-radius: 2px;
    height: 20px;
    z-index: 0;
}


.header_link  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_link a {
    transition: 200ms all ease-in-out;
    font-family: roboto;
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
}


.header_link a:hover {
    background-color: #caddea;
}

.menu {
    width: 50px;
}

.menu-wrap {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1400px){
    .navbar li div{
        margin: 12px 18px;
    }
}

