.option {
    background-color: #075da2;
    background-image: url(../images/Svg/Bg3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.plank-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.option__plank {
   
    filter: drop-shadow(2px 3.5px 7px rgba(155, 182, 190, 0.75));
    background-color: #caddea;
    border-radius: 4px;
    position: relative;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.option__plank::before{
    content: '';
    width: 0;
	height: 0;
	border-top: 20px solid #caddea; 
	border-right: 20px solid transparent;
    position: absolute;
    top: 47px;
    left: 0px;
    display: inline-block;
} 

.opt-ff {
    font-family: robotobold;
    font-size: 49.5px;
    color: #d00;
}

.opt-off {
    font-family: roboto;
    font-size: 33.5px;
    color: #d00;
    text-transform: uppercase;
}

.opt-text {
    font-family: roboto;
    font-size: 22.5px;
    color: #075da2;
}

.option__sale::before {
    content: '';
    display: inline-block;
    background-image: url(../images/Svg/Arrow.svg);
    background-repeat: no-repeat;
    height: 50px;
    width: 120px;
    position: relative;
    left: 85px; 
}

.option__sale {
    display: flex;
    align-items: center;
}

.opt p {
    font-family: roboto;
    font-size: 15.5px;
    color: #fff;
}

.opt select {
    background-color: #e9f7fe;
    width: 85%;
    height: 35px;
}

.opt__text {
    font-family: roboto;
    font-size: 15.5px;
    color: #fff;
    text-transform: uppercase;
}

.opt__sl {
    font-family: roboto;
    font-size: 47.5px;
    color: #fff;
    text-transform: uppercase;
}

.opt__usd {
    font-family: roboto;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
}

.option__select {
    margin-left: 10px;
}

.option__select .col-4{
    margin-bottom: 30px;
}

.option__select .opt p{
    margin-bottom: 10px;
}

.price_flex span {
    margin-right: 5%;
}

.option__price {
    padding-top: 15px;
}

.order p{
    font-family: roboto;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0px;
}
 .order {
    transition: 200ms all ease-in-out;
    background-color: #d00;
    width: 27%;
    height: 35px;
    margin: 20px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
}

.order::before{
    transition: 200ms all ease-in-out;
    content: '';
    width: 0;
	height: 0;
	border-top: 15px solid #d00; 
	border-right: 20px solid transparent;
    position: absolute;
    left: 0px;
    top: 33px;
    display: inline-block;
} 
 
.order:hover, .order:active {
    transition: 200ms all ease-in-out;
    background-color: #a40000;
}

.order:hover::before, .order:active::before {
    transition: 200ms all ease-in-out;
    border-top: 15px solid #a40000;
}

