.ss-content {
    background: url(../images/Layer\ 11.png);
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.ss-content__plank h1 {
    background-color: #caddea;
    padding: 20px 55px;
    text-align: center;
    border-radius: 4px;
}

.ss-content__plank {
    filter: drop-shadow(2px 3.5px 7px rgba(155, 182, 190, 0.75));
    margin-bottom: 100px;
}

.ss-content__plank::before{
    content: '';
    width: 0;
	height: 0;
	border-top: 30px solid #caddea; 
	border-right: 30px solid transparent;
    position: relative;
    top: 117px;
}

.ss-content__list li {
    list-style-image: url(../images/Svg/Ellipse.svg);
    margin-left: 20px;
    
}

.ss-content__list h3 {
    margin-left: 20px;
    margin-top: 40px;
}

.ss-content__list p{
    line-height: 1.83;
}

.ss-content__button  .items p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: var(--colorLightBlue);
    text-align: center;
    margin: 10px;
}

.ss-content__button .items {
    min-width: 235px;
    border: 1px solid var(--colorLightBlue);
}

.ss-content__button .rows {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.ss-content__logo {
    margin-bottom: 30px;
}

.ss-content__plank {
    margin-bottom: 20px;
}

.ss-content__list {
    margin-bottom: 35px;
}

